@font-face {
  font-family: 'dosFont';
  src: url('../font/dosFont.ttf') format('truetype');
}

body {
  background-color: black !important;
  background-size: cover;
}

#secret-document {
  font-family: 'dosFont', monospace;
  font-size: 1.5vw;
  color: rgb(27,227,27);
  width: 50vw;
  margin:auto;
  text-shadow: 0px 0px 10px #1be31b;
  filter:brightness(0.8);
  animation: textFlicker;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}

#overlay {
  pointer-events: none;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index:2;
  opacity: 0.2;
  filter:brightness(0.8);
  animation: textFlicker;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}

#simpsons {
  position:absolute;
  width:100%;
  height:100%;
  overflow: hidden;
}

.redacted {
  background-color: rgb(27,227,27);
  user-select: none;
}

.revealed {
  color: white;
  text-decoration: underline;
}

@keyframes textFlicker {
  0% {
    filter: brightness(1)
  }

  ;

  10% {
    filter: brightness(0.5)
  }

  ;

  20% {
    filter: brightness(1)
  }

  ;

  30% {
    filter: brightness(.75)
  }

  ;

  50% {
    filter: brightness(1.2)
  }

  ;

  70% {
    filter: brightness(1)
  }

  ;

  100% {
    filter: brightness(1.75)
  }

  ;
}
}
